.he1 {

    background-color: rgb(54, 230, 0);
    float: left;
    display: inline;
    
}
.b2 {
    text-decoration: none;
    display: block;
    padding: 16px 14px;
}
.b2:hover {
    background-color: rgb(225, 0, 255);
    color: rgb(0, 0, 0);
}
#body1 {
    margin:0 auto;
    max-width: max-content;
    
}
body {
    background-image:linear-gradient(to right,rgb(0, 204, 255),rgb(0, 255, 0));
}
li {
    font-size: 20px;
}
img {
    padding-left: -200px;
}


.drop-down-list {
    display: none;
    position: absolute;
    background-color: rgb(10, 75, 75);
    min-width: 160px;
}
 
.listmenu {
    display: inline-block;
}
.listmenu:hover .drop-down-list {
    display: block;
}